<p id="notice"><%= notice %></p>

<h1>Listing Sensor Events</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sensor_events.each do |sensor_event| %>
      <tr>
        <td><%= sensor_event.name %></td>
        <td><%= sensor_event.description %></td>
        <td><%= link_to 'Show', sensor_event %></td>
        <td><%= link_to 'Edit', edit_sensor_event_path(sensor_event) %></td>
        <td><%= link_to 'Destroy', sensor_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor event', new_sensor_event_path %>
