<%= form_for(@sensor_event_action) do |f| %>
  <% if @sensor_event_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor_event_action.errors.count, "error") %> prohibited this sensor_event_action from being saved:</h2>

      <ul>
      <% @sensor_event_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
